<div class='content'>
    <div class='ui borderless brown item inverted menu top-menu' style='text-align:center;'>
        <h3 class='header item' style='color:aliceblue;'>D I N E</h3>
    </div>
    <div class='ui three column grid'>
        <div class='column' style='margin-left:80px; margin-top:20px;'>
            <h1 class='ui middle aligned brown header' style='font-family:"Roboto Light";'>CHECKOUT</h1>
        </div>
        <!-- <div class='column' style='margin-left:40px; margin-top:5px;'>
            <i class='huge brown inbox icon' style='float:right;' id='mycart'></i>
            <button class='ui right floated circular basic icon button'><i class=' circular brown shopping basket icon '></i></button>
        </div> -->
    </div>
    <div class='ui basic segment ' style='max-width:75%; margin:0 auto; '>
        <div class='ui segment '>
            <div class='ui two column grid '>
                <div class='column '>
                    <img class='ui centered small image ' src='assets/img/soda.png '>
                </div>
                <div class='column '>
                    <h2 class='header ' style='font-family:"Roboto Black"'>Soda</h2>
                    <h3 style='font-family: "Roboto Thin"; '>P 80.00</h3>
                    <h3 style='font-family: "Roboto Light"; float:right;'>x 1</h3>
                </div>
            </div>
        </div>
    </div>
    <div class='ui divider '></div>
    <div class='ui right labeled transparent input' style='margin-left:355px;'>
        <label for='totalAmt' class='ui brown label'>Total:</label>
        <input style='text-align:center;' type='text' class='ui input' value=0 id='totalAmt' disabled>
    </div>
    <div class='ui hidden divider'></div>
    <div class='ui two column grid '>
        <div class='column' style='margin-top:10px;'>
            <a href=""><i class='left chevron icon '></i>Go back to menu</a>
        </div>
        <div class='column '>
            <input class='ui right floated input circular brown button ' value='Confirm order'>
        </div>
    </div>
</div>