<div class='content'>
    <div class='ui borderless brown item inverted menu top-menu' style='text-align:center;'>
        <h3 class='header item' style='color:aliceblue;'>D I N E</h3>
    </div>
    <div class='ui three column grid'>
        <div class='column' style='margin-left:80px; margin-top:20px;'>
            <h1 class='ui middle aligned brown header' style='font-family:"Roboto Light";'>BEVERAGES</h1>
        </div>
        <div class='column' style='margin-left:40px; margin-top:5px;'>
            <i class='huge brown inbox icon' style='float:right;' id='mycart'></i>
            <!-- <button class='ui right floated circular basic icon button'><i class=' circular brown shopping basket icon '></i></button> -->
        </div>
    </div>
    <div class='ui basic segment ' style='max-width:75%; margin:0 auto; '>
        <div class='ui segment '>
            <div class='ui two column grid ' style='margin-top:5px; '>
                <div class='column '>
                    <img class='ui centered small image ' src='assets/img/soda.png '>
                </div>
                <div class='column '>
                    <h2 class='header ' style='font-family:"Roboto Black"'>Soda</h2>
                    <div class='ui divider '></div>
                    <div class='sub-header ' style='font-family: "Roboto Light"; '>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit impedit numquam cupiditate nam?</div>
                </div>
            </div>
            <div class='ui hidden divider '></div>
            <div class='ui divider '></div>
            <div class='ui two column grid '>
                <div class='column '>
                    <h2 style='font-family: "Roboto Thin"; '>P 80.00</h2>
                </div>
                <div class='right floated column '>
                    <button class='ui small brown icon button'>
                        <i class=' minus icon '></i>
                    </button>
                    <div class='ui disabled input ' style='max-width:50px; padding-right:2px;'>
                        <input style='text-align:center; ' value=0>
                    </div>
                    <button class='ui small brown icon button '>
                        <i class='plus icon '></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class='ui divider '></div>
    <div class='ui right labeled transparent input' style='margin-left:355px;'>
        <label for='totalAmt' class='ui brown label'>Total:</label>
        <input style='text-align:center;' type='text' class='ui input' value=0 id='totalAmt' disabled>
    </div>
    <div class='ui hidden divider'></div>
    <div class='ui two column grid '>
        <div class='column' style='margin-top:10px;'>
            <a href=""><i class='left chevron icon '></i>Go back to menu</a>
        </div>
        <div class='column '>
            <a routerLink='/checkout'>
                <button class='ui right floated circular brown button '>
                    Proceed to checkout 
                </button>
            </a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>