<div class='content'>
    <div class='ui borderless brown item inverted menu top-menu' style='text-align:center;'>
        <h3 class='header item' style='color:aliceblue;'>D I N E</h3>
    </div>
    <div class='ui three column grid'>
        <div class='column' style='margin-left:80px; margin-top:20px;'>
            <h1 class='ui middle aligned brown header' style='font-family:"Roboto Light";'>QR CODE</h1>
        </div>
    </div>
    <div class='ui basic centered segment'>
        <img src='assets/img/dummyqr.png' class='ui small centered image'>
        <div class='ui hidden divider'></div>
        <h3 class='ui header' style='font-family:"Roboto Light";'>Gently tap the device on the machine scanner. Press "DONE" button when finished. </h3>
        <a routerLink=''>
                <button class='ui circular brown button '>
                    Done
                </button>
            </a>
    </div>
</div>