<div class='content'>
    <div class='ui borderless brown item inverted menu top-menu' style='text-align:center;'>
        <h3 class='header item' style='color:aliceblue;'>D I N E</h3>
    </div>
    <div class='ui three column grid'>
        <div class='column' style='margin-left:80px; margin-top:20px;'>
            <h1 class='ui middle aligned brown header' style='font-family:"Roboto Light";'>MENU</h1>
        </div>
        <div class='column' style='margin-left:40px; margin-top:5px;'>
            <a routerLink="/cart"> <i class='huge brown inbox icon' style='float:right;' id='mycart'></i></a>
            <!-- <button class='ui right floated circular basic icon button'><i class=' circular brown shopping basket icon '></i></button> -->
        </div>
    </div>
    <div class='ui hidden divider'></div>
    <button class='ui massive basic brown fluid button'>M E A L S</button>
    <div class='ui hidden divider'></div>
    <button class='ui massive basic brown fluid button'>D E S S E R T S</button>
    <div class='ui hidden divider'></div>
    <a routerLink="/menu-display"> <button class='ui massive basic brown fluid button'>B E V E R A G E S</button> </a>
    <div class='ui hidden divider'></div>
    <!-- <footer class='ui brown centered footer menu'>
        <h4>Dine.2017 | All Rights Reserved</h4>
    </footer> -->
    <router-outlet></router-outlet>
</div>